<% provide(:button_text, 'Änderugen speichern') %>
<h1>Authors#new</h1>
<% if @author.errors.any? %>
  <% @author.errors.full_messages.each do |error| %>
    error: <%= error %> <br>
  <% end %>
<% end %>
<%= render 'form' %>
