<h1> Alle Autoren </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Homepage</th>
    <th></th>
  </tr>
  <% @authors.each do |author| %>
    <td> <%= link_to author.name, author %> </td>
    <td> <%= link_to author.homepage, author.homepage %> </td>
  <% end %>
  <br>
</table>

<br>
<%= link_to 'neuen Autor erstellen', new_author_path %> <br>
